CMakeFiles
CMakeCache.txt
Makefile
cmake_install.cmake

build/CamClient
build/CamServer
build/cursed-2.jpg
build/CamClient
build
build/CamClient
build/Test_Pkg
test_img.png
build
build/CamClient
build/CamClient
build/Test_Pkg
